.wg-work {
  padding: 4px;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  border-radius: 24px;
}

.wg-work .w-logo {
  max-width: 40px;
}
.wg-work .work-image {
  border-radius: 20px;
  overflow: hidden;
}
.wg-work .work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wg-work .work-content {
  position: relative;
}
.wg-work .work-content .w-image {
  position: absolute;
  inset: 6px;
  z-index: 0;
}
.wg-work .work-content .content {
  position: relative;
  z-index: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.wg-work .w-image {
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}
.wg-work .w-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.wg-work .w-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 0.546728972;
}
.wg-work .w-tag-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.wg-work .w-tag-list .tag {
  padding: 5px 11px;
  background-color: var(--black-56);
  border: 1px solid var(--white-8);
  box-shadow: var(--shadow-3);
  backdrop-filter: blur(6px);
  border-radius: 999px;
}
.wg-work .w-logo,
.wg-work .w-desc,
.wg-work .w-highlight {
  margin-bottom: 64px;
}
.wg-work .w-title {
  margin-bottom: 16px;
}
.wg-work .w-highlight {
  display: grid;
  gap: 40px;
}
.wg-work .box-high {
  display: grid;
  gap: 8px;
}
.wg-work .br-line {
  margin-top: 32px;
  background-color: var(--white-8);
  margin-bottom: 32px;
}
.wg-work .group-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .wg-work .wrap {
    position: fixed;
    top: 16px;
    left: 16px;
    bottom: 16px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
  }
  .wg-work .wrap.active {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  .wg-work .work-content {
    padding: 6px;
    background-color: var(--white);
    border-radius: 24px;
    box-shadow: var(--shadow-2);
    position: relative;
    height: calc(100vh - 48px);
    max-height: 860px;
  }
}
@media (min-width: 1440px) {
  .wg-work .wrap {
    max-width: 480px;
  }
}
@media (min-width: 1600px) {
  .wg-work .wrap {
    left: 48px;
  }
}
@media (max-width: 1439px) {
  .wg-work .w-logo {
    margin-bottom: 28px;
  }
  .wg-work .w-logo,
  .wg-work .w-desc,
  .wg-work .w-highlight {
    margin-bottom: 32px;
  }
  .wg-work .br-line {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}
@media (max-width: 991px) {
  .wg-work .work-image {
    margin-bottom: 4px;
  }
  .wg-work .work-content {
    background: unset !important;
    box-shadow: unset !important;
  }
  .wg-work .work-content .w-image {
    inset: 0;
  }
}
@media (max-width: 575px) {
  .wg-work .work-content .content {
    padding: 20px 15px;
  }
}
.wg-work {
  /*-- min, between, max --*/
}
@media (min-width: 992px) and (max-width: 1439px) {
  .wg-work .work-content {
    max-height: calc(100vh - 48px);
    aspect-ratio: 0.546728972;
    height: unset;
  }
}

/* Single */
.single-content-work-over {
  display: flex;
  gap: 20px;
      margin-bottom: 30px;
}

.single-content-work-over .image,
.single-content-work-over .content {
  width: 50%;
}

.single-content-work-over .content .title {
  margin-bottom: 20px;
}

.single-content-work-over .content .w-desc {
      margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.3;
    color: var(--black-72);
}

.single-content-work-over .box-high {
  display: grid;
  gap: 8px;
}

.single-content-work-over .w-highlight {
  display: grid;
  gap: 20px;
}

.single-content-work-over  .w-tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 40px;
}
.single-content-work-over  .w-tag-list .tag {
    padding: 5px 11px;
    border: 1px solid var(--black-6);
    border-radius: 16px;
}